:root {
	/* Colors */
	--accent: #b14ae0;
	--background: #f9f7fb;
	--lightAccent: #caa9f0;
	--lighterAccent: #e9e4f3;
	--dark: #7d5fb9;
	--darker: #372b5c;
	--slate: #3a324c;

	--white: #ffffff;
	--black: #1b1129;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Atkinson Hyperlegible', Georgia, Times, serif;
	--primaryFont: 'Atkinson Hyperlegible', sans-serif;
	--codeFont: 'Fira Code', monospace;
}
