---
title: Default title
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/main.css" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body class="bg-[#FAF9F6] text-[#2C2C2C] font-serif leading-relaxed flex flex-col min-h-screen">
  
  {% include "header.liquid" %}

  <main class="flex-grow container mx-auto px-4 py-8">
    {{ content }}
  </main>

  {% include "footer.liquid" %}

</body>
</html>